<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/chart.js"></script>
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-col max-w-2xl my-16 space-y-16 mx-auto">

      <!-- Heading -->
      <div class="flex justify-center items-center p-4 space-x-8">
        <div class="flex flex-col items-start">
          <div class="text-4xl font-bold">
            <a href="https://t.me/nechego_bot">
              <img class="inline-flex align-bottom w-10 h-10 hover:opacity-75" src="https://upload.wikimedia.org/wikipedia/commons/6/62/Telegram_logo_icon.svg" alt="Telegram logo">
            </a>
            Робот
          </div>
          <p class="text-gray-600">чат-бот для бесед в Telegram</p>
        </div>
        <img class="w-36 h-36 rounded-full shadow-lg" src="/static/avatar.jpg" alt="Bot profile photo">
      </div>

      <!-- Chart -->
      <div class="bg-white shadow-xl rounded-2xl p-8">
        <div class="mb-4 mx-auto max-w-fit text-lg font-medium text-gray-600">👤 Активность пользователей</div>
        <canvas height="200" id="users-activity" data-message-count="{{.MessageCount}}" data-command-count="{{.CommandCount}}"></canvas>
      </div>

      <!-- Chart -->
      <div class="bg-white shadow-xl rounded-2xl p-8">
        <div class="mb-4 mx-auto max-w-fit text-lg font-medium text-gray-600">📖 Популярные команды</div>
        <canvas height="350" id="top-commands" data-top-commands="{{.TopCommands}}"></canvas>
      </div>

      <!-- Chart -->
      <div class="bg-white shadow-xl rounded-2xl p-8">
        <div class="mb-4 mx-auto max-w-fit text-lg font-medium text-gray-600">✍️ Написанные сообщения</div>
        <canvas height="350" id="top-users" data-top-users="{{.TopUsers}}"></canvas>
      </div>

    </div>
    <script src="/static/app.js"></script>
  </body>
</html>
